<div class="request">
  <div class="container-fluid">
    <div class="thumbnail">
      <div class='row'>
        <img class='col-md-2' src=<%= "https://graph.facebook.com/" + req.requestID + "/picture?type=large"%> class="post-image">
      </div>
    </div>
  </div>
</div>